<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:annotation-config/>
    <bean id="cat11" class="com.yang.pojo.Cat"></bean>
    <bean id="cat1" class="com.yang.pojo.Cat"></bean>
    <bean id="dog" class="com.yang.pojo.Dog"></bean>
    <!--
        byName会在容器上下文中自己查找和set方面相同的beanid
        byType会在容器上下文中自己查找和自己属性相同的bean
    -->
    <bean id="people" class="com.yang.pojo.People">
        <!--<property name="name" value="yanghechuan"/>-->
       <!-- <property name="cat" ref="cat"/>
        <property name="dog" ref="dog"/>-->
    </bean>
</beans>
